 body{
    border:4px solid blue;
    height: 300px;
    display:inline-block;
    max-height: max-content;
}
#main{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 10px;
}
#title{

    margin-left: 300px;
    margin-top: -200px;
}
#img{
    position: absolute;
    margin-left: 30px;
    
}
#description{
    margin-left: 300px;
    margin-top: 10px;

}